body {
    background-color: skyblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}
li {
    float: left;
    display: inline;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: azure;
}
h1 {
    color: white;
    text-align: center;
}
.active {
    background-color: black;
}
#img1 {
    width: 40%; 
    height: 100%;
    
}
#Img2 {
    width: 40%;
    height: 60%;
}
p1 {
    float: right;
}
#h21 {
    text-align: center;
    color: white;
}